<%- include('partials/head.ejs') %>

    <body>

        <!-- page section start here -->
        <section class="page__section search__page CPL__page">
            <div class="page__inner d-flex">
                <div class="sidebar d-flex flex-column" id="sidebar">
                    <div class="navi w-100">
                        <ul class="w-100">
                            <li><a href="/home"><img src="/image/icon/homeUnactive.png" alt="icon">
                                    Home</a></li>
                            <li><a href="/search"><img src="/image/icon/searchUnactive.png" alt="icon">Search</a>
                            </li>
                        </ul>
                    </div>
                    <%- include('partials/you.ejs') %>
                        <%- include('partials/yourPlaylists.ejs') %>
                            <%- include('partials/yourArtists.ejs') %>
                </div>
                <div class="bm__boxes w-100">
                    <div class="CPL__head">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="text-white font-weight-bold d-flex align-items-center gap-4"><img
                                        class="d-none right__arrow" src="/image/icon/leftArrow.svg" alt="icon">
                                    Playlist</h4>
                                <a href="#!" class="three__dot"><img src="/image/icon/threedot.svg" alt="icon"></a>
                            </div>
                            <div class="text-end">
                                <% if (isOwner) { %>
                                    <button class="delete__play">Delete Playlist</button>
                                    <% } else { %>
                                        <button class="likeUnlike__play"><%= isLiked ? 'Unlike Playlist' : 'Like Playlist' %></button>
                                        <% } %>
                            </div>
                        </div>
                        <div class="CPL__ttl">
                            <div class="CPL__body d-flex align-items-center">
                                <div>
                                    <img class="CPL__ttl__img" src="/image/section/playlist1.png" alt="img">
                                </div>
                                <div>
                                    <!-- Tags -->
                                    <div class="playlistTags d-flex gap-3 align-items-center">
                                        <% if (playlistDetails.tags.length===0) { %>
                                            <a href="#!">Nessun Tag</a>
                                            <% } else { %>
                                                <% playlistDetails.tags.forEach(tag=> { %>
                                                    <a href="#!">
                                                        <%= tag %>
                                                    </a>
                                                    <% }); %>
                                                        <% } %>
                                                            <% if (isOwner) { %>
                                                                <a href="#!"><img class="tagsPencil"
                                                                        src="/image/icon/edit.svg" alt="img"></a>
                                                                <% } %>
                                    </div>
                                    <input type="text" class="tagsEditor d-none"
                                        value="<%= playlistDetails.tags.join(' ') %>">

                                    <!-- Title -->
                                    <h1 class="playlistTitle font-weight-bold text-white">
                                        <%= playlistDetails.title %>
                                            <% if (isOwner) { %>
                                                <a href="#!" class="ml-2">
                                                    <img class="inputH1Edit" src="/image/icon/edit.svg" alt="img">
                                                </a>
                                                <% } %>
                                    </h1>
                                    <input type="text" class="change__input inputH1Editor d-none"
                                        value="<%= playlistDetails.title %>">

                                    <!-- Clock Small -->
                                    <div class="time_box d-block d-sm-none">
                                        <img src="/image/icon/Clock.svg" alt=""><span class="clock">
                                            <% let totalDurationMs=0; playlistTracksDetails.forEach(track=> {
                                                totalDurationMs += track.duration_ms;
                                                });
                                                const totalDurationMinutes = Math.floor(totalDurationMs / 60000);
                                                %>
                                                <%= totalDurationMinutes %> minutes
                                        </span>
                                    </div>

                                    <!-- Public & Private -->
                                    <a class="d-flex align-items-center gap-2 playlist_status" href="#!">
                                        <%= playlistDetails.isPublished ? 'Public' : 'Private' %> Playlist
                                            <% if (isOwner) { %>
                                                <img src="/image/icon/settingUnactive.svg" alt="img">
                                                <% } %>
                                    </a>
                                    <% if (isOwner) { %>
                                        <button class="playlist_status_btn d-none">
                                            Switch To <%= playlistDetails.isPublished ? 'Private' : 'Public' %>
                                        </button>
                                        <% } %>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <!-- Description -->
                                <a class="playlistDescription" href="#!">
                                    <%= playlistDetails.description ? playlistDetails.description : 'No Description' %>
                                        <% if (isOwner) { %>
                                            <img class="descriptionPencil"
                                                style="height: 11px; width: 11px; margin-left: 4px;"
                                                src="/image/icon/edit.svg" alt="">
                                            <% } %>
                                </a>
                                <input class="descriptionEditor d-none" type="text"
                                    value="<%= playlistDetails.description %>">

                                <!-- Clock Big -->
                                <div class="time_box d-none d-sm-block">
                                    <img src="/image/icon/Clock.svg" alt=""><span class="clock">
                                        <%= totalDurationMinutes %> minutes
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="search__box">
                        <form class="d-flex align-items-center">
                            <div class="search w-100">
                                <img src="/image/icon/searchActive.png" alt="icon">
                                <input type="text" placeholder="Search Song in the Playlist">
                            </div>
                            <div>
                                <button class="list__add">Search</button>
                            </div>
                        </form>
                        <div class="bm__box">
                            <div class="bm__box__sec">
                                <% for(let i=0; i < playlistTracksDetails.length; i++) { %>
                                    <div class="box">
                                        <div class="box__img">
                                            <img class="" src="<%= playlistTracksDetails[i].image %>" alt="img">
                                        </div>
                                        <div
                                            class="box__content w-100 d-flex justify-content-between align-items-center overflow-hidden mw-100">
                                            <div>
                                                <h4 class="overflow-hidden">
                                                    <%= playlistTracksDetails[i].name %>
                                                </h4>
                                                <p>
                                                    <%= playlistTracksDetails[i].artists[0].name %>
                                                </p>
                                            </div>
                                            <a href="#!">
                                                <img data-toggle="modal" data-target="#exampleModal"
                                                    src="/image/icon/heart-blank.png" class="like-btn-song"
                                                    data-track-id="<%= playlistTracksDetails[i].id %>">
                                                <% if (isOwner) { %>
                                                    <img src="/image/icon/minus.png"
                                                        data-track-id="<%= playlistTracksDetails[i].id %>" alt="icon"
                                                        class="remove-icon">
                                                    <% } %>
                                            </a>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%- include('partials/addSongToPlaylistModal.ejs') %>
            <%- include('partials/createPlaylistModal.ejs') %>

                <!-- page section end here -->

                <!-- bottom nav start here -->
                <div class="bottom__nav">
                    <div class="navi w-100">
                        <ul class="w-100 p-0 justify-content-between flex-row align-items-center"
                            style="background: unset;">
                            <li><a class="d-flex flex-column" href="/home"><img src="/image/icon/home2.png" alt="icon">
                                    Home</a>
                            </li>
                            <li><a class="d-flex flex-column" href="/search"><img src="/image/icon/searchUnactive.png"
                                        alt="icon">
                                    Search</a></li>
                            <li><a class="d-flex flex-column" id="libBtn" href="#!"><img
                                        src="/image/icon/libraryUnactive.png" alt="icon">Library</a></li>
                        </ul>
                    </div>
                </div>
                <!-- bottom nav end here -->


                <%- include('partials/alert.ejs') %>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

                <script>
                    const playlistId = "<%= playlistDetails._id %>";
                </script>

                <script src="/js/script.js"></script>
                <script src="/js/library.js"></script>
                <script type="module" src="/js/playlist.js"></script>
                <script type="module" src="/js/createPlaylistModal.js"></script>

                <% if (isOwner) { %>
                    <script type="module" src="/js/editPlaylist.js"></script>
                    <script type="module" src="/js/removeSongFromPlaylist.js"></script>
                    <% } else { %>
                        <script type="module" src="/js/likeUnlikePlaylist.js"></script>
                        <% } %>


    </body>

    </html>