<%- include('partials/head.ejs') %>

    <body>

        <!-- page section start here -->
        <section class="page__section">
            <div class="page__inner d-flex">
                <div class="sidebar d-flex flex-column" id="sidebar">
                    <div class="navi w-100">
                        <ul class="w-100">
                            <li><a href="/home"><img src="/image/icon/homeUnactive.png" alt="icon">Home</a></li>
                            <li><a href="/search"><img src="/image/icon/searchUnactive.png" alt="icon">Search</a>
                            </li>
                        </ul>
                    </div>
                    <%- include('partials/you.ejs') %>
                    <%- include('partials/yourPlaylists.ejs') %>
                    <%- include('partials/yourArtists.ejs') %>
                </div>
                <div class="setting__section w-100">
                    <div class="setting__inner">
                        <h3 class="font-weight-bold text-white d-flex align-items-center gap-4"><img
                                class="d-none right__arrow" src="/image/icon/leftArrow.svg" alt=""> Settings</h3>

                        <h5 class="font-weight-bold text-white">User Profile</h5>
                        <div class="setting__opt">
                            <div>

                                <div class="set__box d-flex align-items-center" id="changeName" data-bs-toggle="modal"
                                    data-bs-target="#settingsModal">
                                    <img src="/image/icon/name.svg" alt="icon">
                                    <p class="text-white">Change Name</p>
                                </div>
                                <div class="set__box d-flex align-items-center" id="changeSurname"
                                    data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <img src="/image/icon/surname.svg" alt="icon">
                                    <p class="text-white">Change Surname</p>
                                </div>
                                <div class="set__box d-flex align-items-center" id="changeEmail" data-bs-toggle="modal"
                                    data-bs-target="#settingsModal">
                                    <img src="/image/icon/mail.svg" alt="icon">
                                    <p class="text-white">Change Email</p>
                                </div>
                                <div class="set__box d-flex align-items-center" id="changePassword"
                                    data-bs-toggle="modal" data-bs-target="#settingsModal">
                                    <img src="/image/icon/password.svg" alt="icon">
                                    <p class="text-white">Change Password</p>
                                </div>

                            </div>
                            <div class="set__box dlt__set__box d-flex align-items-center flex-row" id="deleteAccount"
                                data-bs-toggle="modal" data-bs-target="#settingsModal">
                                <img src="/image/icon/delete.svg" alt="icon">
                                <p class="text-white">Delete Account</p>
                            </div>

                        </div>

                        <div class="genre__setting">
                            <h5 class="text-white font-weight-bold">Favorite Genres</h5>

                            <div class="genre">
                                <div class="radio-buttons d-flex align-items-center flex-wrap">
                                    <% const genresList = ['Rap', 'Classic', 'Rock', 'Trap', 'Pop', 'Hip Hop', 'Country', 'Metal', 'Funk', 'Electronic', 'Disco', 'Techno']; %>
                                    <% genresList.forEach((genre) => { %>
                                        <div class="form-group">
                                            <label class="check_container"><span class="labeltxt"><%= genre %></span>
                                                <input type="checkbox" <% if (user && user.genres && user.genres.includes(genre)) { %> checked <% } %> >
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page section end here -->


        <!-- bottom nav start here -->
        <div class="bottom__nav">
            <div class="navi w-100">
                <ul class="w-100 p-0 justify-content-between flex-row align-items-center" style="background: unset;">
                    <li><a class="d-flex flex-column libBtntwo" href="/home"><img src="/image/icon/home2.png"
                                alt="icon"> Home</a>
                    </li>
                    <li><a class="d-flex flex-column libBtntwo" href="/search"><img src="/image/icon/searchUnactive.png"
                                alt="icon">
                            Search</a></li>
                    <li><a class="d-flex flex-column" id="libBtn" href="#!"><img src="/image/icon/libraryUnactive.png"
                                alt="icon"> Library</a></li>
                </ul>
            </div>
        </div>
        <!-- bottom nav end here -->


        <!-- Modal -->
        <div class="modal fade" id="settingsModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-white">
                            Title Placeholder
                        </h4>
                        <button type="button" class="close" data-bs-dismiss="modal">
                            <span aria-hidden="true"><img src="/image/icon/close.svg" alt="icon"></span>
                        </button>
                    </div>
                    <div class="modal-body d-flex flex-column">

                        <!-- Per tutte le operazioni tranne per il cambio password -->
                        <input type="text" id="defaultInput" placeholder="Input Placeholder...">

                        <!-- Per il cambio password -->
                        <input type="password" class="mb-3" id="oldPassword" placeholder="Old password..." class="d-none">
                        <input type="password" class="mb-3" id="newPassword" placeholder="New password..." class="d-none">
                        <input type="password" id="confirmPassword" placeholder="Confirm new password..."
                            class="d-none">

                    </div>
                    <div class="modal-footer">
                        <button type="button" data-bs-dismiss="modal">Button Placeholder</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/createPlaylistModal.ejs') %>

        <!-- alert -->
        <div class="alert__toast success__alert d-none">
            <span>Successful!</span>
            <img class="alert_close" src="/image/icon/close.svg" alt="icon">
        </div>
        <div class="alert__toast neutral__alert d-none">
            <span>This is a Neutral Message</span>
            <img class="" src="/image/icon/closeBlack.svg" alt="icon">
        </div>
        <div class="alert__toast error__alert d-none">
            <span>Mmh... Some Errors..</span>
            <img class="" src="/image/icon/close.svg" alt="icon">
        </div>
        <!-- alert -->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="/js/script.js"></script>
        <script src="/js/library.js"></script>
        <script type="module" src="/js/settings/main.js"></script>
        <script type="module" src="/js/createPlaylistModal.js"></script>
    </body>

    </html>